<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MobiledgeX Video Stream</title>
  </head>
  <body style="background-color: #2B3C4A">
    <img src="static/images/logo2.png" alt="logo" width="300" height="59"/><br><br>

    <br/><br><br>
    <img src="{{ url_for('video_feed2') }}" style="margin-left: 3%" /></t><img src="{{ url_for('video_feed') }}" style="margin-left: 3%" />
    <br><br>
    <img src="{{ url_for('video_feed3') }}" style="margin-left: 3%" /></t><img src="{{ url_for('video_feed4') }}" style="margin-left: 3%" />
  </body>
</html>
