<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MobiledgeX Video Stream</title>
  </head>
  <body style="background-color: #2B3C4A">
    <img src="static/images/logo2.png" alt="logo" width="300" height="59"/><br><br>
    <a href="/"><button style="width: 20%; height: 25px; margin-left: 25%; background-color: #A5DC4A; font-size: 12pt;">Home</button></a><a href="demo1"><button style="width: 20%; height: 25px; margin-left: 100px; background-color: #A5DC4A; font-size: 12pt;">Face Recognition Demo</button></a>
    <br/><br><br>
    <img src="{{ url_for('video_feed3') }}" style="margin-left: 3%" />
  </body>
</html>